version: '2.3'

services:
  autothinker-backend:
    build:
      context: ./autothinker-backend
    ports:
      - "8001:8001"
    environment:
      - GEMINI_API_KEY=AIzaSyDAOlNEmf0sTv2la4g0ek9jD5coHhtC1g0 # <-- IMPORTANT: Replace with your actual Gemini API key
